* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0b0b;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}


.lamp-login-wrapper {
  display: flex;
  height: 100vh;
}

.lamp-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lamp {
  position: relative;
}

.lamp-head {
  width: 160px;
  height: 65px;
  background: #f2f2f2;
  border-radius: 80px 80px 25px 25px;
  position: relative;
  z-index: 3;
}

.lamp-stand {
  width: 8px;
  height: 180px;
  background: #d9d9d9;
  margin: auto;
}

.lamp-base {
  width: 90px;
  height: 10px;
  background: #cfcfcf;
  border-radius: 10px;
  margin: auto;
}

/* LIGHT GLOW */
.lamp-light {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 350px;
  background: radial-gradient(
    ellipse at top,
    rgba(255, 215, 130, 0.6),
    rgba(255, 215, 130, 0.2),
    transparent 70%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}


.pull-cord {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 140px;
  background: #aaa;
  cursor: grab;
  z-index: 4;
}

.pull-cord .knob {
  width: 16px;
  height: 16px;
  background: gold;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -7px;
  transition: top 0.25s ease;
}



.login-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease, filter 0.6s ease;
}

.lamp-off {
  opacity: 0;
  filter: blur(10px);
  pointer-events: none;
}

.lamp-on {
  opacity: 1;
  filter: blur(0);
}


.lamp-hint {
  position: absolute;
  left: 10px;
  top: 120px;
  color: #f5d27a;
  font-size: 13px;
  opacity: 0.8;
  
  letter-spacing: 0.5px;
  white-space: nowrap;
  animation: pulse 2s infinite;
  pointer-events: none;
}

@keyframes pulse {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 0.9; }
}


@keyframes pulse {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 0.9; }
}



.container {
  background: rgba(20, 20, 20, 0.85);
  padding: 35px;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 0 70px rgba(255, 215, 120, 0.6);
}

.container h2 {
  color: gold;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
}

.password-box {
  position: relative;
}

.password-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #444;
  cursor: pointer;
}


.submit {
  width: 100%;
  background: linear-gradient(135deg, gold, #ffb700);
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 768px) {
  .lamp-login-wrapper {
    flex-direction: column;
  }
}

h3{
  font-family: monospace;
  margin-top: 10px;
  color: #f2f2f2;
}
h3 a{
  color: #ffb700;
}