*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(messi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
.Menu-bar {
    background: rgb(0, 100, 0);
    text-align: center;
    color: #fff;
}
.Menu-bar ul {
    display: inline-flex;
    list-style: none;
}
.Menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.Menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}
.active, .Menu-bar ul li:hover {
    border-radius: 100px;
    background: lightgreen;
}
.sub-menu-1 {
    display: none;
}
.Menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}
.Menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}
.Menu-bar ul li:hover .sub-menu-1 ul li {
    border-bottom: 1px solid white;
    background: transparent;
    width: 150px;
    padding: 10px;
    border-radius: 0;
    text-align: left;
}
.Menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}
.sub-menu-2 {
    display: none;
}
.hover-me:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: -40px;
    margin-left: 140px;
}
.Menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: aquamarine;
} 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    
}
input {
    text-align: center;
    font-size: 1em;
    margin: 5px;

    border: none;
    padding: 5px 2px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: rgba(104, 21, 96, 0.5);
    cursor: pointer;
    transition: 1s ease-out;

}
input:hover {
    background-color: rgb(100, 31, 97);
}
button {
    background-color: rgba(38, 0, 255, 0.5);
    font-size: 1em;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    transition: 1s ease;

}
button:hover {
    background-color: rgba(38, 0, 255, 2);
}
h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    
}
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    font-stretch: ultra-condensed;
    font-weight: bold;
}
a{
    text-decoration: none;
    transition: 1s ease;
}
a:hover {
    color: aqua;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    backdrop-filter: blur(10px);
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;


}

.password-box {
    position: relative;
    
}

.password-box input {
    width: 100%;

}

.password-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}